<!DOCTYPE html>
<html>
  <head>
    <title>RAKERNAS 2022</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color:#0a4b8e"><center>
   <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vT0WD-Nb_kdmIj-6lD5O-5vsYexeZX4CboLjMyjtYI1IgsSbHhBVeHXQs-Jxteiwsh0E8gc2qz3ARr-/embed?start=false&loop=false&delayms=3000" frameborder="0" width="1440" height="839" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </center> </body>
</html>
